# Predicting students' math performances through the data set

In this kernel, I am just focusing on predicting the math scores. I reach a ~5 RMSE with XGBoost regression - pretty good. This is *probably* (although not confirmed) generalizable for the other student results.

First, we load in the data and inspect it.

In [1]:
import os

import numpy as np
import pandas as pd

data = pd.read_csv('Students Performance/StudentsPerformance.csv')

# Convert to categorical!
for i in range(data.shape[1]):
    if i not in [5,6,7]:
        data.iloc[:, i] = data.iloc[:,i].astype("category")

from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

for i in range(data.shape[1]):
    if i not in [1,2,5,6,7]:
        data.iloc[:, i] = label_encoder.fit_transform(data.iloc[:,i])



data = pd.get_dummies(data)
data.head()

/usr/local/Cellar/python/3.6.5/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)
/usr/local/Cellar/python/3.6.5/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)
/usr/local/Cellar/python/3.6.5/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)
/usr/local/Cellar/python/3.6.5/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)

,gender,lunch,test preparation course,math score,reading score,writing score,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school
0,0,1,1,72,72,74,0,1,0,0,0,0,1,0,0,0,0
1,0,1,0,69,90,88,0,0,1,0,0,0,0,0,0,1,0
2,0,1,1,90,95,93,0,1,0,0,0,0,0,0,1,0,0
3,1,0,1,47,57,44,1,0,0,0,0,1,0,0,0,0,0
4,1,1,1,76,78,75,0,0,1,0,0,0,0,0,0,1,0

So this is the data. What do we do with it now? We could try a logistic regression analysis, since we have many classes. The classes are mostly binary or tertiary, apart from parental level of education. Random Forest and XGBoost are also great options, so I will implement these with cross-validation. For each score, I will create one of each model mentioned above and compute their MSE scores. But first, we divide into training and test data.

In [2]:

from sklearn.model_selection import train_test_split 

train, test = train_test_split(data, random_state = 123)

print(train.shape)
print(test.shape)

col_names = list(data.columns)

(750, 17)
(250, 17)

/usr/local/Cellar/python/3.6.5/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)

## Predicting Math score

First, we predict the math score.

In [3]:
math_pred_feats = [x for i, x in enumerate(col_names) if i in list(range(0,data.shape[1])) and i not in [3]]
math_pred_label = col_names[3]
train_math = train[math_pred_feats]
y_train_math = train[math_pred_label]
test_math = test[math_pred_feats]
y_test_math = test[math_pred_label]



from xgboost import XGBRegressor
import xgboost as xgb


xgb_model = XGBRegressor(max_depth = 5,
                n_estimators=500,
                n_jobs=4,
                subsample=1.0,
                colsample_bytree=0.7,
                random_state=1302)
xgb_params = xgb_model.get_xgb_params()

xgb_model.fit(train_math, y_train_math, verbose = True)

train_math.head()

,gender,lunch,test preparation course,reading score,writing score,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school
894,0,1,1,62,69,0,0,0,0,1,1,0,0,0,0,0
941,0,1,1,91,96,0,0,0,1,0,0,0,0,1,0,0
285,1,1,0,82,82,0,1,0,0,0,1,0,0,0,0,0
462,0,1,1,70,76,0,0,0,0,1,0,0,0,0,1,0
370,1,1,1,77,71,0,0,0,0,1,0,0,0,0,1,0

In [4]:
test_math.head()

,gender,lunch,test preparation course,reading score,writing score,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school
131,1,0,0,37,40,0,0,1,0,0,0,0,0,0,0,1
203,0,1,1,69,68,0,1,0,0,0,1,0,0,0,0,0
50,1,1,1,55,48,0,0,0,0,1,0,0,0,0,1,0
585,0,1,1,76,76,0,0,1,0,0,1,0,0,0,0,0
138,0,1,1,66,67,0,0,1,0,0,1,0,0,0,0,0

Now, we have a model. Now, we use that to predict.

In [5]:
preds = xgb_model.predict(test_math)
from sklearn.metrics import mean_squared_error

print("RMSE: ",np.sqrt(mean_squared_error(y_test_math,preds)))

RMSE:  6.539052599888404

Quite a nice RMSE. Let's see if we can reduce this by performing a grid search.

In [6]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import reciprocal, uniform, randint


param_dist = {
    'colsample_bytree':uniform(0.1,0.9),
    'gamma':reciprocal(1e-5,1),
    'min_child_weight':[1,3],
    'learning_rate':reciprocal(1e-4,1),
    'max_depth':randint(2,6),
    'n_estimators':randint(100,1000),
    'reg_alpha':[1e-5, 0.1],
    'reg_lambda':[1e-5, 0.1],
    'subsample':[0.8]
}

rand_search = RandomizedSearchCV(estimator = xgb_model, param_distributions = param_dist, n_iter = 100, n_jobs=3, iid=False,verbose=True, scoring = 'neg_mean_squared_error', random_state = 123)
print("Fitting model...")
rand_search.fit(train_math, y_train_math)
print("Model fitted")
print("Best score: ")
print(rand_search.best_score_)
print("Best model: ")
print(rand_search.best_params_)

Fitting model...
Fitting 3 folds for each of 100 candidates, totalling 300 fits

/usr/local/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:   14.6s
[Parallel(n_jobs=3)]: Done 194 tasks      | elapsed:   56.2s
[Parallel(n_jobs=3)]: Done 300 out of 300 | elapsed:  1.4min finished

Model fitted
Best score:
-33.352801655250175
Best model:
{'colsample_bytree': 0.4194127014723713, 'gamma': 0.037695024928133564, 'learning_rate': 0.03259312203900356, 'max_depth': 2, 'min_child_weight': 3, 'n_estimators': 752, 'reg_alpha': 1e-05, 'reg_lambda': 1e-05, 'subsample': 0.8}

Now use the best model to fit, and check how much the MSE has been reduced.

In [7]:
best_model = XGBRegressor(**rand_search.best_params_)
best_model.fit(train_math, y_train_math)

y_preds = best_model.predict(test_math)
print("MSE:",mean_squared_error(y_test_math,y_preds))
print("RMSE: ",np.sqrt(mean_squared_error(y_test_math,y_preds)))

MSE: 33.752682069113916
RMSE:  5.809705850481065

Nice. Now, let's try randomforest. For speed, let's just do a quick Randomized search.

In [8]:
from sklearn.ensemble import RandomForestRegressor

rf_model = RandomForestRegressor()

from sklearn.model_selection import RandomizedSearchCV

param_dist = {
    "max_depth":randint(3,5),
    "max_features":randint(3,5),
    "bootstrap":[True,False],
    "min_samples_split":randint(2,7),
    'n_estimators':randint(10,500)
}

rand_search = RandomizedSearchCV(rf_model, param_distributions = param_dist, n_jobs=5, cv = 5, verbose = True, n_iter=90, random_state = 123)
rand_search.fit(train_math, y_train_math)

/usr/local/Cellar/python/3.6.5/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)

Fitting 5 folds for each of 90 candidates, totalling 450 fits

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.
[Parallel(n_jobs=5)]: Done  40 tasks      | elapsed:    4.5s
[Parallel(n_jobs=5)]: Done 190 tasks      | elapsed:   25.8s
[Parallel(n_jobs=5)]: Done 440 tasks      | elapsed:   52.6s
[Parallel(n_jobs=5)]: Done 450 out of 450 | elapsed:   54.2s finished

RandomizedSearchCV(cv=5, error_score='raise-deprecating',
          estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
          fit_params=None, iid='warn', n_iter=90, n_jobs=5,
          param_distributions={'max_depth': <scipy.stats._distn_infrastructure.rv_frozen object at 0x11e575f60>, 'max_features': <scipy.stats._distn_infrastructure.rv_frozen object at 0x11e322320>, 'bootstrap': [True, False], 'min_samples_split': <scipy.stats._distn_infrastructure.rv_frozen object at 0x11e6049e8>, 'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x11e604b70>},
          pre_dispatch='2*n_jobs', random_state=123, refit=True,
          return_train_score='warn', scoring=None, verbose=True)

In [9]:
print(rand_search.best_score_)
print(rand_search.best_params_)

0.7248550196028527
{'bootstrap': True, 'max_depth': 4, 'max_features': 4, 'min_samples_split': 3, 'n_estimators': 143}

Now use the best model!

In [10]:
best_rf_model = RandomForestRegressor(**rand_search.best_params_)
best_rf_model.fit(train_math,y_train_math)

rf_preds = best_rf_model.predict(test_math)
print(mean_squared_error(y_test_math,y_preds))

33.752682069113916

Not too bad. Hopefully, better can be achieved. 

## Adaboost with decision stumps

Let's try decision stumps, and see if they work well.

In [18]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
param_dist = {'criterion':['mse'], 
              'max_depth':[1], 
              'max_features':[None],
           'max_leaf_nodes':[None], 
              'min_impurity_decrease':uniform(0,1),
           'min_impurity_split':[None], 
              'min_samples_leaf':uniform(1e-9,(0.5-1e-9)),
           'min_samples_split':randint(2,5), 
              'min_weight_fraction_leaf':reciprocal(1e-7,0.5),
           'presort':[False], 
              'random_state':[123], 
              'splitter':['best']
             }

rand_search = RandomizedSearchCV(DecisionTreeRegressor(), param_distributions = param_dist, n_jobs=5, cv = 5, verbose = True, n_iter=90)
rand_search.fit(train_math, y_train_math)

adaboost_model = AdaBoostRegressor(DecisionTreeRegressor(**rand_search.best_params_), n_estimators=50).fit(train_math, y_train_math)

print(adaboost_model)
y_preds = adaboost_model.predict(test_math)
print("MSE:", mean_squared_error(y_test_math, y_preds))
print("RMSE:", np.sqrt(mean_squared_error(y_test_math, y_preds)))

Fitting 5 folds for each of 90 candidates, totalling 450 fits

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

AdaBoostRegressor(base_estimator=DecisionTreeRegressor(criterion='mse', max_depth=1, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.4649191441956416,
           min_impurity_split=None, min_samples_leaf=0.4816995623036057,
           min_samples_split=3,
           min_weight_fraction_leaf=1.0379447571784873e-05, presort=False,
           random_state=123, splitter='best'),
         learning_rate=1.0, loss='linear', n_estimators=50,
         random_state=None)
MSE: 140.81850366183576
RMSE: 11.866697251629695

[Parallel(n_jobs=5)]: Done 450 out of 450 | elapsed:    1.4s finished

Okay, these decision stumps did not work as well as others. Let's try something else.

## Gaussian process regression

How about Gaussian Process regression? We have very few dimensions, which definitely makes it suitable. We just want to scale the data of course, to ensure a mean of 0 on all variables which is needed for Gaussian Processes. Of course, it probably won't be a mean of 0 as it is unbalanced between -1 and 1, but let's try.

In [12]:
data.head()

,gender,lunch,test preparation course,math score,reading score,writing score,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school
0,0,1,1,72,72,74,0,1,0,0,0,0,1,0,0,0,0
1,0,1,0,69,90,88,0,0,1,0,0,0,0,0,0,1,0
2,0,1,1,90,95,93,0,1,0,0,0,0,0,0,1,0,0
3,1,0,1,47,57,44,1,0,0,0,0,1,0,0,0,0,0
4,1,1,1,76,78,75,0,0,1,0,0,0,0,0,0,1,0

In [13]:
from sklearn.preprocessing import scale

math_score_mean = np.mean(data['math score'])
math_score_sd = np.std(data['math score'])

data.iloc[:,0:3] = data.iloc[:,0:3].replace({1:1, 0:-1})
data.iloc[:,3:6] = data.iloc[:,3:6].apply(lambda x: (x - np.mean(x)) / np.std(x), axis=0)
data.iloc[:,6:17] = data.iloc[:,6:17].replace({1:1, 0:-1})


train, test = train_test_split(data, random_state = 123)
data.head()

train_math_gp = train.drop(['math score','reading score','writing score'], axis = 1)
y_train_math_gp = train['math score']

test_math_gp = test.drop(['math score','reading score', 'writing score'], axis = 1)
y_test_math_gp = test['math score']

In [14]:
print(test_math_gp.shape)
test_math_gp.head()

(250, 14)

,gender,lunch,test preparation course,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school
131,1,-1,-1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,1
203,-1,1,1,-1,1,-1,-1,-1,1,-1,-1,-1,-1,-1
50,1,1,1,-1,-1,-1,-1,1,-1,-1,-1,-1,1,-1
585,-1,1,1,-1,-1,1,-1,-1,1,-1,-1,-1,-1,-1
138,-1,1,1,-1,-1,1,-1,-1,1,-1,-1,-1,-1,-1

In [15]:
print(train_math_gp.shape)
train_math_gp.head()

(750, 14)

,gender,lunch,test preparation course,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school
894,-1,1,1,-1,-1,-1,-1,1,1,-1,-1,-1,-1,-1
941,-1,1,1,-1,-1,-1,1,-1,-1,-1,-1,1,-1,-1
285,1,1,-1,-1,1,-1,-1,-1,1,-1,-1,-1,-1,-1
462,-1,1,1,-1,-1,-1,-1,1,-1,-1,-1,-1,1,-1
370,1,1,1,-1,-1,-1,-1,1,-1,-1,-1,-1,1,-1

In [16]:
from sklearn.gaussian_process import GaussianProcessRegressor

gp_model = GaussianProcessRegressor(n_restarts_optimizer = 100)
gp_model.fit(train_math_gp, y_train_math_gp)
y_preds = gp_model.predict(test_math_gp)
print("RMSE: ", np.sqrt(mean_squared_error(y_test_math_gp, y_preds)))
print("MSE: ", mean_squared_error(y_test_math_gp, y_preds))

from sklearn.model_selection import cross_val_score
print(cross_val_score(gp_model,cv=5,X = data.drop(['math score','reading score','writing score'], axis = 1), y = data['math score'], scoring = 'neg_mean_squared_error'))

# Rescale it. 

MSE = mean_squared_error(y_test_math_gp, y_preds)*math_score_sd + math_score_mean

print("MSE", MSE)

RMSE:  1.026769486344218
MSE:  1.0542555780875695
[-1.14285442 -0.97582261 -1.01770577 -1.05081111 -1.12548391]
MSE 82.0667668921005

Okay, this was not that nice to be honest - not a particularly good score. It seems like XGBoost was the best in this case, achieving quite a low MSE.